<div class="main-img">
  <%= image_tag(@pod) %>
</div>
<div class="tweets">
  <% @tweets.each do |tweet| %>
    <ul class="tweet">
      <li class="time"><%= formatted_tweet_date(tweet) %></li>
      <li class="text"><%= tweet.text %></li>
    </ul>
  <% end %>
</div>