<div class="title">
  <h1>Search Results for: <%=@term%></h1>
</div>
<div class="image-container">
  <% @presenter.images.each do |image| %>
      <%= render partial: "images/image_card", locals: {image: image } %> 
    <% end %>
</div>

<div class="title">
  <h1>Recent Tweets from NASA about: <%=@term%></h1>
</div>
<div class="twitter-search-results">
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweets/tweet", locals: {tweet: tweet } %> 
  <% end %>
</div>