@import "bootstrap";

.img-container {
  position: relative;
  img{
    width: 100%
  }
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.left-column {
  width: 40%;
  align-items: center;
}

.right-column {
  width: 40%;
}

.fav-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  &:hover{
    opacity: 0.8;
  }
  img{
    width: 50px;
  }
}