    <div class="image">
      <h2 class="title  padded"><%= image.title %></h2>
      <%= image_tag(image.image) %>
      <div class="image-details padded">
        <h5 class="description">Description: <%= image.description %></h5>
        <h5 class="date">Date Taken: <%= image.date %></h5>
      </div>
    </div>
